/* ============================== Global Styles ============================== */
/* Set the main font for the website */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #ff0000;
    /* help: https://www.w3schools.com/htmL/html_images_background.asp */
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}





/* ============================== Header and Navigation ============================== */
/* Header section for logo and menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ff0000;
}

/* Logo area where the image and text sit together */
.logo-container {
    display: flex;
    align-items: center;
}

/* Adjust the logo image size */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Text next to the logo */
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Slogan text style under the logo */
.slogan {
    font-size: 1rem;
    color: #8800ff;
    margin: 0;
}

/* Menu list styles */
.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Style for each item in the menu */
.nav-menu li {
    margin: 0 15px;
}

/* Style for links in the menu */
.nav-menu a {
    text-decoration: none;
    color: #ffffff;
}





/* ============================== Footer ============================== */
/* Footer styling across all pages */
footer {
    text-align: center;
    padding: 10px;
    background-color: #8800ff;
}


/* senter the foot nav menu */
.foot-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* text for the foot nav menu */
.foot-text,
.foot-lnk {
    margin: 0 15px;
    color:#ffffff;
    text-decoration: none;
}

/* link styles for the foot nav menu */
.foot-link:hover {
    color: #ffffff;
    text-decoration: underline;
}